
.layout-content {
  .main {
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    height: 100vh;
  }

  .header {

  }

  .main-content {
    height: 100vh;
  }

  .footer {
    bottom: 0;
  }
}

